@tailwind base;
@tailwind components;
@tailwind utilities;

/* so all of the markdown features are available */
.markdown > * {
    all: revert;
}

.single-signal-line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
    stroke-linecap: round;
    /* stroke-dasharray: 5,5; */
}