@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --black: #111111;
    --white: #fdfdfd;
    --green: #22cc88;
    --blue: #0055ff;
    --purple: #8855ff;
    --red: #ff0055;
    --orange: #ee4444;
    --yellow: #ffcc00;
    --mustard: #ffaa00;
}

/* so all of the markdown features are available */
.markdown > * {
    all: revert;
}

.single-signal-line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
    stroke-linecap: round;
    /* stroke-dasharray: 5,5; */
}

/* hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

/* hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.progress-bar-horizontal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
  }