@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --black: #111111;
    --white: #fdfdfd;
    --green: #22cc88;
    --blue: #0055ff;
    --purple: #8855ff;
    --red: #ff0055;
    --orange: #ee4444;
    --yellow: #ffcc00;
    --mustard: #ffaa00;
}

/* so all of the markdown features are available */
.markdown > * {
    all: revert;
}

/* animations for the coloured patches */
@keyframes drifting {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(1000px, 1000px);
    }
    100% {
      transform: translate(-1000px, 0);
    }
}
  
  @keyframes pulsing {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
}

.coloured-patch {
    animation: 
      drifting 1s infinite alternate, 
      pulsing 8s infinite alternate;
    transform: rotate(30deg);
    animation-delay: 0.5s; /* optional delay to start the animation */
}
  
  

.single-signal-line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
    stroke-linecap: round;
    /* stroke-dasharray: 5,5; */
}

/* hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

/* hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.progress-bar-horizontal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
}

/* The slider thumb */
input[type="range"]::-webkit-slider-thumb {
  @apply bg-gray-400 h-4 w-6 rounded-full cursor-pointer appearance-none;
}

input[type="range"]::-moz-range-thumb {
  @apply bg-gray-400 h-4 w-6 rounded-full cursor-pointer;
}
  
  